/* ================================================================
=> Colors (Pywal + GTK)
================================================================*/
@import "../../../../.cache/wal/colors-waybar.css";

@define-color accent shade(alpha(@accent_color, 0.9), 1.25);
@define-color background shade(alpha(@theme_bg_color, 0.9), 0.9);
@define-color border alpha(@color11, 0.3);
@define-color border-alt alpha(@color11, 0.63);
@define-color text @theme_fg_color;
@define-color text-alt @theme_selected_fg_color;
@define-color hover shade(alpha(@accent_bg_color, 0.5), 1.25);
@define-color green @success_color;
@define-color yellow @warning_color;
@define-color red @error_color;

/*================================================================
=> General
================================================================*/
* {
  margin: 0;
  padding: 0px;
  font-family: "JetBrainsMono Nerd Font", "JetBrainsMono";
  font-weight: bold;
  font-size: 12px;
  min-height: 15px;
  background: transparent;
}

/*================================================================
=> Tooltip
================================================================*/
tooltip {
  border: @border;
  background-color: @background;
}
tooltip label {
  color: @text;
}

/*================================================================
=> App Menu
================================================================*/
#custom-menu {
  margin: 2px 4px;
  margin-left: 0px;
  border-radius: 6px;
  padding: 0px 12px 0px 8px;
  font-size: 15px;
  color: @text;
  background: @background;
  border: 1px solid @border;
}
#custom-menu:hover {
  color: @hover;
}

/*================================================================
=> Tools menu
================================================================*/
#custom-sysinfo,
#power-profiles-daemon,
#custom-hyprshade,
#custom-hypridle,
#cpu,
#memory,
#temperature {
  margin: 2px 0px;
  font-size: 13px;
  border: 1px solid alpha(@border, 0.33);
  padding: 0px 8px 0px 8px;
  font-weight: bold;
  background: @background;
  color: @text;
}

#cpu,
#memory,
#temperature {
  padding: 0px 8px;
  font-size: 11px;
  font-weight: bolder;
}
#power-profiles-daemon {
  padding: 0px 12px 0px 6px;
}
#custom-sysinfo {
  margin-left: 4px;
  border-radius: 6px 0px 0px 6px;
}
#custom-hypridle {
  padding-right: 10px;
  margin-right: 4px;
  border-radius: 0px 6px 6px 0px;
}
#custom-sysinfo:hover,
#custom-hyprshade:hover,
#custom-hypridle:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  color: @hover;
}
#power-profiles-daemon.balanced {
  color: @text;
}
#power-profiles-daemon.performance {
  color: @red;
}
#power-profiles-daemon.power-saver {
  color: @green;
}
#custom-hypridle.notactive {
  color: @red;
}

/*================================================================
=> Workspaces
================================================================*/
#workspaces {
  margin: 2px 4px;
  border-radius: 6px;
  padding: 1px;
  background: @background;
  border: 1px solid @border;
}
#workspaces button {
  min-width: 20px;
  box-shadow: none;
  margin: 2px 3px;
  text-shadow: none;
  border: none;
  border-radius: 3px;
  background: alpha(@text, 0.1);
  color: alpha(@text, 0.5);
  transition: all 0.1s linear;
}
#workspaces button.active {
  min-width: 28px;
  transition: all 0.1s linear;
  color: @background;
  background: @text;
}
#workspaces button:hover {
  background: alpha(@text, 0.2);
  border: none;
}
#workspaces button.urgent {
  background-color: @red;
}

/* 
  ================================================================
  => Taskbar
  ================================================================
*/
#taskbar {
  margin: 3px 4px;
  padding: 0px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bolder;
}
#taskbar button {
  padding: 0px 3px;
  margin-right: 2px;
  border-radius: 6px;
  border: none;
}
#taskbar button:hover {
  background: @hover;
}
#taskbar button.active {
  background: alpha(@hover, 0.3);
}

/* 
  ================================================================
  => Active Window
  ================================================================
*/
#window {
  margin: 2px 4px;
  border-radius: 6px;
  padding: 0px 8px 0px 8px;
  border: 1px solid alpha(@border, 0.33);
  background: @background;
  color: @text;
}

/* 
  ================================================================
  => MPD
  ================================================================
*/
#custom-mediaplayer {
  margin: 2px 4px;
  border-radius: 6px;
  padding: 0px 8px 0px 8px;
  background: @background;
  border: 1px solid alpha(@border, 0.33);
  color: @text;
}
#custom-mediaplayer:hover {
  color: @hover;
}

/* 
  ================================================================
  => Clock
  ================================================================
*/
#clock {
  margin: 2px 4px;
  padding: 0px 8px 0px 8px;
  border: 2px solid @accent;
  border-radius: 6px;
  border-top: none;
  /* border-bottom: none; */
  border-left: none;
  border-right: none;
  color: @text;
  background: @background;
}

/* 
  ================================================================
  => Updates
  ================================================================
*/
#custom-updates {
  margin: 2px 4px;
  border-radius: 6px;
  padding: 1px 10px 0px 8px;
  background: @background;
  border: none;
}
#custom-updates.green {
  background: @text;
  color: @background;
}
#custom-updates.yellow {
  background: @yellow;
  color: @background;
}
#custom-updates.red {
  background: @red;
  color: @background;
}

/*================================================================
=> Weather
================================================================*/
#custom-weather {
  margin: 2px 4px;
  border-radius: 6px;
  padding: 0px 9px 0px 8px;
  color: @text;
  background: @background;
  border: 1px solid @border;
}

/* 
  ================================================================
  => Pulse Audio
  ================================================================
*/
#pulseaudio {
  margin: 2px 0px 2px 4px;
  padding: 0px 8px 0px 8px;
  border: 1px solid alpha(@border, 0.33);
  border-radius: 6px 0px 0px 6px;
  border-right: none;
  color: @text;
  background: @background;
}
#pulseaudio:hover {
  color: shade(@hover, 1.25);
}

/* 
  ================================================================
  => Backlight (brightness)
  ================================================================
*/
#backlight {
  margin: 2px 0px;
  border: 1px solid alpha(@border, 0.33);
  border-radius: 0px;
  border-right: none;
  border-left: none;
  padding: 0px 12px 0px 8px;
  color: @text;
  background: @background;
}
#backlight:hover {
  color: shade(@hover, 1.25);
}

/*================================================================
=> Bluetooth
================================================================*/
#bluetooth {
  margin: 2px 0px;
  padding: 0px 8px 0px 4px;
  border: 1px solid alpha(@border, 0.33);
  border-radius: 0px;
  border-right: none;
  border-left: none;
  color: @text;
  background: @background;
}
#bluetooth:hover {
  color: shade(@hover, 1.25);
}

/* 
  ================================================================
  => Battery
  ================================================================
*/
#battery {
  margin: 2px 0px;
  padding: 0px 8px 0px 4px;
  border: 1px solid alpha(@border, 0.33);
  border-radius: 0px;
  border-right: none;
  border-left: none;
  color: @text;
  background: @background;
}
#battery:hover {
  color: shade(@hover, 1.25);
}
#battery.charging,
#battery.plugged {
  color: @green;
}
@keyframes blink {
  to {
    color: @red;
  }
}
#battery.critical:not(.charging) {
  color: @teal;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* 
  ================================================================
  => Network
  ================================================================
*/
#network {
  margin: 2px 4px 2px 0px;
  padding: 0px 12px 0px 6px;
  border: 1px solid alpha(@border, 0.33);
  border-radius: 0px 6px 6px 0px;
  border-left: none;
  color: @text;
  background: @background;
}
#network:hover {
  color: shade(@hover, 1.25);
}

/* 
  ================================================================
  => Tray
  ================================================================
*/
#tray {
  margin: 3px 2px;
  border-radius: 6px;
  padding: 0px 4px 0px 4px;
  background: alpha(@background, 0.5);
  border: 1px solid alpha(@border, 0.33);
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
#tray menu {
  border-radius: 8px;
  color: @text;
  background-color: @background;
  padding: 4px;
}

/* 
  ================================================================
  => Notifications
  ================================================================
*/
#custom-notifications {
  font-size: 13px;
  margin: 2px 4px;
  margin-right: 0px;
  border: 1px solid @border;
  border-radius: 6px 0px 0px 6px;
  border-right: none;
  padding: 0px 11px 0px 8px;
  color: @text;
  background: @background;
}
#custom-notifications:hover {
  color: @hover;
}

/* 
  ================================================================
  => Power menu
  ================================================================
*/
#custom-power {
  font-size: 13px;
  margin: 2px 4px;
  margin-right: 0px;
  margin-left: 0px;
  border: 1px solid @border;
  border-radius: 0px 6px 6px 0px;
  padding: 0px 12px 0px 8px;
  color: @text;
  background: @background;
}
#custom-power:hover {
  color: @hover;
}

/* 
  ================================================================
  => Hide empty modules
  ================================================================
*/
window#waybar.empty #window,
#custom-updates.none,
#taskbar.empty,
#tray.empty,
#custom-mediaplayer.empty {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
