@import "colors.css";
* {
    margin: 20px 80px;
}
window {
    font-family: "JetBrainsMono";
    font-size: 14px;
    background-color: @background;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;

    border: 1px solid alpha(@outline, 0.63);
    border-radius: 6px;

    background-color: @surface_container;
    color: @on_surface;

    margin: 8px;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button:hover {
    background-color: @outline;
    color: @surface;
    background-size: 30%;
}

button span {
    font-size: 0;
}

/* Lock */
#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

/* Logout */
#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

/* Suspend */
#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:hover {
    background-image: image(url("./icons/sleep-hover.png"));
}

/* Shutdown */
#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

/* Reboot */
#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

/* Hibernate */
#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}