/* 
  ============================================================
  => Colors
  ============================================================
*/
@import "../../.cache/wal/colors-waybar.css";

@define-color accent shade(alpha(@accent_color, 0.9), 1.25);
@define-color background alpha(@theme_bg_color, 0.98);
@define-color border alpha(@color11, 0.3);
@define-color border-alt alpha(@color11, 0.9);
@define-color text @theme_fg_color;
@define-color text-alt @theme_selected_fg_color;
@define-color hover alpha(@accent_bg_color, 0.5);
@define-color green @success_color;
@define-color yellow @warning_color;
@define-color red @error_color;

/* 
  ============================================================
  => General
  ============================================================
*/
* {
  font-family: "JetBrainsMono Nerd Font";
  color: @text;
}

/* 
  ============================================================
  => Notification Popup
  ============================================================
*/
.notification-background {
  padding: 10px;
}
.close-button {
  background: transparent;
  padding: 0px;
  border-radius: 6px;
  margin: 4px;
  box-shadow: none;
  border: none;
}
.close-button:hover {
  box-shadow: none;
  background: @red;
  color: @text-alt;
  transition: background 0.15s ease-in-out;
  border: none;
}
.notification {
  border-radius: 6px;
  border: 1px solid @border;
  padding: 8px;
  transition: background 0.15s ease-in-out;
  background: @theme_bg_color;
}
.low {
  background: alpha(@background, 0.75);
}
.critical {
  background: alpha(@red, 0.75);
}
.notification-action,
.notification-default-action {
  padding: 0px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  color: @text;
  transition: background 0.15s ease-in-out;
}
.notification-action:hover,
.notification-default-action:hover {
  background: transparent;
}
.notification-default-action {
  border-radius: 6px;
}
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.notification-content {
  background: transparent;
  border-radius: 0px;
  padding: 4px;
}
.image {
  border-radius: 6px;
  margin: 4px;
}
.app-icon {
  margin: 6px;
}
.summary {
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
  padding-left: 10px;
}
.time {
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
  margin-right: 30px;
}
.body {
  font-size: 12px;
  font-weight: normal;
  background: transparent;
  color: alpha(@text, 0.8);
  text-shadow: none;
  padding-left: 10px;
}
.progressbar {
  margin-top: 4px;
  color: @accent;
}

/* 
  ============================================================
  => Control Center
  ============================================================
*/
.control-center {
  background: @background;
  border: 1px solid @border;
  color: @text;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 alpha(#000, 0.5);
}
.control-center-list-placeholder {
  opacity: 0.5;
}
.control-center-list {
  background: transparent;
}
.notification {
  box-shadow: none;
}

/* Notification widget */
.widget-title > label {
  color: @text;
  font-size: 20px;
  font-weight: bold;
}
.widget-title > button {
  font-size: 12px;
  color: @text;
  padding: 0px 6px;
  background: shade(alpha(@background, 0.9), 1.2);
  border: 1px solid alpha(@border, 0.5);
  border-radius: 4px;
}
.widget-title > button:hover {
  background: @hover;
}

/* DND widget */
.widget-dnd > label {
  color: @text;
  font-size: 16px;
}
.widget-dnd > switch {
  border-radius: 4px;
  background: alpha(@text, 0.5);
  border: 1px solid @border;
}
.widget-dnd > switch:checked {
  background: @accent;
}
.widget-dnd > switch:hover {
  background: @hover;
}
.widget-dnd > switch slider {
  background: @background;
  border-radius: 4px;
}

/* Notification list */
.notification-group-headers > label {
  color: @text;
  background: shade(alpha(@background, 0.3), 1.12);
  border: 1px solid alpha(@border, 0.1);
  padding: 0px 8px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
}
.notification-group.collapsed:hover
  .notification-row:not(:only-child)
  .notification {
  box-shadow: 0 2px 3px 0 alpha(#000, 0.2);
}
.notification-group,
.notification-group.collapsed {
  background: transparent;
}
.notification-group .notification:hover {
  box-shadow: 0 2px 3px 0 alpha(#000, 0.2);
}
.notification-group .notification:hover {
  box-shadow: 0 2px 3px 0 alpha(#000, 0.3);
}
.notification-group-buttons > button {
  font-size: 12px;
  margin-right: 6px;
  color: @text;
  padding: 0px 4px;
  background: shade(alpha(@background, 0.5), 1.2);
  border: 1px solid alpha(@border, 0.2);
  border-radius: 6px;
}
.notification-group-buttons > button:hover {
  background: alpha(@hover, 0.8);
}
