@import "~/.config/rofi/configs/dmenu.rasi"

// Makes the keybindings dmenu larger
window {
    width:                       600px;
}
listview {
    lines:                       10;
}
element {
    padding:                     10px;
}
element-text {
    padding:                      8px;
    vertical-align:              0.6;
}
