[Unit]
Description=SBDots Actions Daemon
After=network.target

[Service]
Type=simple
Environment=PYTHONPATH=/usr/lib/sbdots
ExecStart=/usr/bin/python3 -m daemons.actions_daemon
WorkingDirectory=/usr/lib/sbdots
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
