/* Colors */
@define-color accent @accent_color;
@define-color background @theme_bg_color;
@define-color background-alt @theme_selected_bg_color;
@define-color border @color11;
@define-color border-alt alpha(@color11, 0.63);
@define-color text @theme_fg_color;
@define-color text-alt @theme_selected_fg_color;
@define-color hover @accent_bg_color;

@define-color color1 shade(alpha(@STRAWBERRY_700, 0.7), 1.25);
@define-color color2 shade(alpha(@GRAPE_700, 0.7), 1.25);
@define-color color3 shade(alpha(@ORANGE_700, 0.7), 1.25);
@define-color color4 shade(alpha(@LIME_700, 0.7), 1.25);
@define-color color5 shade(alpha(@COCOA_700, 0.7), 1.25);
@define-color color6 shade(alpha(@SILVER_700, 0.7), 1.25);
@define-color color7 shade(alpha(@SLATE_700, 0.7), 1.25);
@define-color color8 shade(alpha(@BLUEBERRY_700, 0.7), 1.25);
@define-color color9 shade(alpha(@BANANA_700, 0.7), 1.25);


/* General */
* {
  margin: 0px;
  padding: 0px;
  font-family: "JetBrainsMono Nerd Font", "JetBrainsMono";
  font-weight: bold;
  font-size: 12px;
  min-height: 20px;
  background: alpha(@background, 0.5);
}

/* Tooltip */
tooltip {
  border: @border;
  background-color: @background;
}
tooltip label {
  color: @text;
}

/* Workspace */
#workspaces {
  padding: 2px;
  margin: 0px 4px;
  margin-left: 0px;
  padding-left: 0px;
}
#workspaces button {
  margin: 1px 2px;
  background-color: transparent;
  color: alpha(@text, 0.2);
}
#workspaces button.active {
  color: @text;
  min-width: 24px;
}
#workspaces button.urgent {
  background-color: @red;
}

/* Weather */
#custom-weather {
  margin: 2px 4px;
  padding: 0px 6px 0px 6px;
  color: @text;
  background: transparent;
  border: none;
}

/* MPD */
#custom-mediaplayer {
  border: none;
  background: transparent;
  color: @text;
}
#custom-mediaplayer:hover {
  color: @hover;
}

/* Updates */
#custom-updates {
  margin: 2px 4px;
  padding: 0px 6px 0px 6px;
  background: transparent;
  color: @text;
  border: none;
}
#custom-updates.green {
  color: @text;
}
#custom-updates.yellow {
  color: @yellow;
}
#custom-updates.red {
  color: @red;
}

/* Audio */
#pulseaudio {
  margin: 2px 4px;
  padding: 0px 6px 0px 6px;
  background: transparent;
  color: @text;
  border: none;
}
#pulseaudio:hover {
  color: @hover;
}

/* Backlight (brightness) */
#backlight {
  margin: 2px 4px;
  padding: 0px 6px 0px 6px;
  background: transparent;
  color: @text;
  border: none;
}
#backlight:hover {
  color: @hover;
}

/* Battery */
#battery {
  margin: 2px 4px;
  padding: 0px 6px 0px 6px;
  background: transparent;
  color: @text;
  border: none;
}
#battery:hover {
  color: @hover;
}
#battery.charging,
#battery.plugged {
  color: @green;
}
@keyframes blink {
  to {
    color: @red;
  }
}
#battery.critical:not(.charging) {
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Tray */
#tray {
  margin: 2px 4px;
  padding: 0px 6px 0px 6px;
  background: transparent;
  color: @text;
  border: none;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
#tray menu {
  border-radius: 8px;
  color: @text;
  background-color: @background;
  padding: 4px;
}

/* Clock */
#clock {
  margin: 2px 4px;
  padding: 0px 6px 0px 6px;
  background: transparent;
  color: @text;
  border: none;
}

/* Notifications */
#custom-notifications {
  margin: 2px 4px;
  padding: 0px 6px 0px 6px;
  background: transparent;
  color: @text;
  border: none;
}
#custom-notifications:hover {
  color: @hover;
}

/* Hide empty modules */
#custom-updates.none,
#tray.empty,
#custom-mediaplayer.empty {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}